@{
    Layout = null;
}

<!DOCTYPE html>
@model QLBanSach.DTO.Admin
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/css/login.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <section id="content">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <form action="">
                    <h1> Login Form </h1>
                    <h5 style=" color: red"> @ViewBag.ThongBao </h5>
                    <div>
                        @Html.TextBoxFor(model => model.UserAdmin, new { @id = "username", @required = "true", @autofocus = "autofocus" })
                        @*<input type="text" name="username" placeholder="Username" required="" id="username" />*@
                        @ViewData["Loi1"]
                    </div>
                    <div>
                        @*@Html.PasswordFor(model => model.PassAdmin, new { @id = "password", @required = "true", @autofocus = "autofocus" })*@
                        <input type="password" name="password" placeholder="Password" required="" id="password" />
                        @ViewData["Loi2"]
                    </div>
                    <div>
                        <input type="submit" value="Log in" />
                        <a href="#">Lost your password?</a>
                        <a href="#">Register</a>
                    </div>

                </form><!-- form -->
            }
        </section><!-- content -->
    </div><!-- container -->

</body>
</html>
